pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
out/*
!out/game_of_life.min.js
out-dev/
index_dev.html
node_modules/
